form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    padding: 0 auto;
}

label {
    padding: 20px 0;

    input {
        margin: 5px;
    }
}

.add-meme-wrapper {
    width: 90vw;
}

input.send {
    cursor: pointer;
}