@import '../styles';

.memes {
    max-height: 95vh;
    overflow-y: scroll;
    width: 90vw;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    img {
        max-width: 89vw;
    }
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
}