@import '../styles';

.memes {
    max-height: 95vh;
    overflow-y: scroll;
    width: 90vw;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    img {
        max-width: 87vw;
        margin-bottom: 10px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
            margin: 0 5rem;
            cursor: pointer;
        }
    }

    hr {
        margin-top: 5px;
        margin-bottom: 35px;
        border: 1px solid $green-text
    }
}

.meme {
    h2 {
        text-align: center;
    }
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
}