@import "../styles";

@mixin link {
    text-decoration: none;
    color: $green-text
}

.top-logo {
    height: 5vh;
    @include theme($background-color: rgb(0, 51, 3));

    a {
        @include link();
        padding: 10px
    }

    a.main-title {
        @include link();
        font-size: 2rem;
    }

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav {
    background-color: $background-primary;
    height: 95vh;
    width: min-content;

    ul {
        list-style: none;
        gap: 2rem;


        a:any-link {
            @include link();
            padding: 10px;

            display: inline-block;
            width: 100%;
            height: 100%;

        }
    }
}

.active a,
a.active {
    color: $color-purple !important;
}

li:hover,
.top-logo a:nth-child(2):hover {
    background-color: $color-purple;
}

li a:hover,
.top-logo a:nth-child(2):hover {
    color: $background-primary !important
}